.app {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 16px 16px;
  flex: 1;
}

.toolbar {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.buttonLink {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
  background-color: #0b5ed7;
}

.buttonLink:hover {
  background-color: #0b57ae;
}
